<h1>Search Result</h1>
<% if @model == 'book' %>
  <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @datas.each do |data| %>
        <tr>
          <td>
            <%= link_to user_path(data.user) do %>
              <%= attachment_image_tag data.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %>
            <% end %>
          </td>
          <td><%= link_to data.title, book_path(data) %></td>
          <td><%= data.body %></td>
          <td id="like_btn_<%= data.id %>">
            <%= render partial: 'likes/like', locals: { book: data } %>
          </td>
          <td>コメント数:<%= data.comments.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
<% elsif @model == 'user' %>
  <table class="table table-hover">
    <tr>
      <th>image</th>
      <th>name</th>
      <th>follower</th>
      <th>follow</th>
      <th></th>
    </tr>
    <% @datas.each do |data| %>
    <tr>
      <td><%= attachment_image_tag data, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
      <td><%= data.name %></td>
      <td id="follower_count_<%= data.id %>"><%= data.followers.count %></td>
      <td id="following_count_<%= data.id %>"><%= data.followings.count %></td>
      <td id="follow_btn_<%= data.id %>">
        <%= render partial: "relationships/follow_form", locals: { user: data } %>
      </td>
      <td><%= link_to 'Show', user_path(data) %></td>
    </tr>
    <% end %>
  </table>
<% end %>