<% if @user.errors.any? %>
<p>error</p>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 offset-md-3">
  <h1>User info</h1>
    <%= form_with( model: @user, local: true ) do |f| %>
      <div class="field row">
        <%= f.label :name %>
        <%= f.text_field :name, class: "col-md-12" %>
      </div>
      <div class="field row action">
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="field row">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "col-md-12" %>
      </div>
      <div class="action row">
        <%= f.submit "Update User", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>