<% if @user.errors.any? %>
<p>error</p>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 offset-md-3">
  <h1>User info</h1>
    <%= form_with( model: @user, local: true ) do |f| %>
      <div class="field row">
        <%= f.label :name %>
        <%= f.text_field :name, class: "col-md-12" %>
      </div>
      <div class="field row action">
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="field row">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "col-md-12" %>
      </div>
      <div class="field row">
        <%= f.label :postcode %>
        <%= f.text_field :postcode, autocomplete: 'postcode', class: "col-md-12" %>
      </div>
      <div class="field row action">
        <%= f.label :prefecture_name, '都道府県' %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt: '選択してください'} %>
      </div>
      <div class="field row">
        <%= f.label :address_city, '市町村' %>
        <%= f.text_field :address_city, autocomplete: 'address_city', class: "col-md-12" %>
      </div>
      <div class="field row">
        <%= f.label :address_street, '番地' %>
        <%= f.text_field :address_street, autocomplete: 'address_street', class: "col-md-12" %>
      </div>
      <div class="field row">
        <%= f.label :address_building, '建物' %>
        <%= f.text_field :address_building, autocomplete: 'address_building', class: "col-md-12" %>
      </div>
      <div class="action row">
        <%= f.submit "Update User", class: "btn btn-primary", class: "col-md-12" %>
      </div>
    <% end %>
  </div>
</div>