<h1>User info</h1>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with( model: @user, local: true ) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.attachment_field :profile_image %>
  </div>
  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </div>
  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>