<p id="notice">
  <%= notice %>
</p>

<div class="row">
  <div class="col-md-3">
    <%= render partial: "books/form", locals: { book: @book, user: @user } %>
  </div>
  <div class="col-md-9">
    <h1>Users</h1>

    

    <table class="table table-hover">
      <tr>
        <th>image</th>
        <th>name</th>
        <th>follower</th>
        <th>follow</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
        <td><%= user.name %></td>
        <td id="follower_count_<%= user.id %>"><%= user.followers.count %></td>
        <td id="following_count_<%= user.id %>"><%= user.followings.count %></td>
        <td id="follow_btn_<%= user.id %>">
          <%= render partial: "relationships/follow_form", locals: { user: user } %>
        </td>
        <td><%= link_to 'Show', user_path(user) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>