<div class="row">
  <div class="col-lg-3">
  <h1>User info</h1>
    <table class="tabe">
      <td><%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
      <tr>
        <th>name</th>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <th>introduction</th>
        <td><%= current_user.introduction %></td>
      </tr>
    </table>
  <%= form_with model: @book, local: true do |f| %>
  <h2>New book</h2>
    <div class="field">
      <%= f.label :titel %>
      <%= f.text_field :title %> 
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
  </div>
  <div class="col-lg-9">
    <h1>Users</h1>
    <table class="table table-hover">
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'show', user_path(user) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>