<h1>User Show</h1>
<p id="notice">
  <%= notice %>
</p>
<div class="field"><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg' %></div>
<div class="field"><%= @user.name %></div>
<div class="field"><%= @user.introduction %></div>

<h3><%= link_to 'edit', edit_user_path(current_user) %></h3>

<%= form_with model: @book do |f| %>
  <div class="field">
    <%= f.label :titel %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
