<h2>User info</h2>
  <table class="tabe">
    <td><%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
    <tr>
      <th>name</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= current_user.introduction %></td>
    </tr>
  </table>

  <%= link_to 'Edit', edit_user_path(current_user) %>

<%= form_with model: book, local: true do |f| %>
  <h2>New book</h2>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :Opinion %>
      <%= f.text_area :body %>
    </div>
    <div>
      <%= f.submit %>
    </div>
<% end %>