<h4>User info</h4>
<table class="table">
  <tr>
    <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %></td>
  </tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, user_followers_path(user.id) %></td>
  </tr>
  <tr>
    <th>followings</th>
    <td><%= link_to user.followings.count, user_followings_path(user.id) %></td>
  </tr>
</table>


<div class="row">
  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-warning col-md-12" %>
  <% else %>
    <div id="follow_btn_<%= user.id %>"><%= render partial: "relationships/follow_form", locals: { user: @user } %></div>
  <% end %>
</div>

<h4>New book</h4>
  <%= form_with model: book, local: true do |f| %>
    <div class="field row">
      <%= f.label :title %>
      <%= f.text_field :title, class: "col-md-12" %>
    </div>
    <div class="field row">
      <%= f.label :Opinion %>
      <%= f.text_area :body, class: "col-md-12" %>
    </div>
    <div class="row action">
      <%= f.submit 'Create Book', class: "btn btn-primary col-md-12" %>
    </div>
  <% end %>