<div class="row">
  <div class="col-md-3">
    <%= render partial: "books/form", locals: { book: @new_book, user: @user} %>
  </div>
  <div class="col-md-9">
    <h1>Book detail</h1>
    <table class="table table-hover">
      <tr>
        <td>
          <%= link_to user_path(@book.user) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: 'no-image-mini.jpg', size: '60x60' %>
            <p><%= @book.user.name %></p>
          <% end %>
        </td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></td>
        <% if user_signed_in? && current_user.id == @book.user_id %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %></td>
          <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
          <td id="like_btn">
            <%= render partial: 'likes/like', locals: { book: @book } %>
          </td>
      </tr>
    </table>

    <div class="comments-create">
      <%= render partial: 'comments/form', locals: { book: @book, comment: @comment } %>
    </div>
      
    <div id="comments-area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
</div>