<!DOCTYPE html>
<html>
  <head>
    <title>Bookers5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= link_to "Home", user_path(current_user) %>
    <%= link_to "Users", users_path %>
    <%= link_to "log out", destroy_user_session_path, method: :delete %>
    <p><%= current_user.name %></p>
  <% else %>
    <%= link_to 'home', root_path %>
    <%= link_to 'about', home_about_path %>
    <%= link_to "sign up", new_user_registration_path %>
    <%= link_to "login", new_user_session_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
